// validator-specific styles
// ==================================================/
.form1 {
    @extend %text--left;
    @extend %pos--relative;
    label {
      @extend %display--block;
      @extend %text--left;
    }

    label.error {
    @extend %pos--relative;
    @extend %display--block;
    @extend %text--left;
    width: auto;
    
  }

}

.newsletter_topics {
  label {
    @extend %display--block;
  }
  label.error {
    @extend %display--none;
  }
}

.username--error,
.password--error,
.confirm_password--error,
.email--error,
.agree--error,
.topic--error,
.message--error {
  border: 1px solid green;
  display: block;
}

// form-specific styles
// ==================================================/
.form1 input[type=text],
.form1 input[type=password],
.form1 input[type=email],
.form1 textarea {
  @extend %display--block;
  @extend %padd--4;
  border: 1px solid #000;  
  width: 100%;
  
  &:focus {
    
  }
}

.form1 {
  .label_agree,
  .label_newsletter,
  .label_subtopic {
    @extend %display--inline-block;
  }

  .form1_agree,
  .form1_newsletter,
  .form1_subtopic {
    @extend %display--block;
    @extend %text--left;
  }

  .custom-select1_01 {
    
  }
}

// mobile portrait (320x480) 
@include mq($from: mobile) {
  
}

// *small tablet portrait (600x800)
@include mq($from: smallTabletPortrait) {
  .form1 {
    margin-left: auto;
    margin-right: auto;
    // max-width: 80%;
  }
}